/* 重置vant部分样式 */

/* 修改vant 1px边框颜色 */
[class*='van-hairline']::after {
  border-color: #d5d5d5 !important;
}

/* 修改cell 内容:增加省略号 */
.van-cell {
  padding: 10px;
  color: $--color-text-primary;

  .van-cell__value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.whole-value {
    .van-cell__value {
      flex: none;
    }
  }
}

/* cell订单样式 */
.van-cell--order {
  &.van-cell,
  .van-cell {
    padding: 10px 12px;
  }

  .van-cell__right-icon {
    color: #666666;
  }
}

/* stepper input禁用背景色修改 */
.van-stepper {
  .van-stepper__input[disabled] {
    background-color: #f2f3f5;
    color: $--color-text-primary;
    -webkit-text-fill-color: $--color-text-primary;
  }
}

.van-tab {
  color: $--color-text-primary;
  font-size: 16px;
}

.van-dialog {
  .van-dialog__header {
    padding-top: 12px;
  }
}

.van-info {
  background-color: $--color-primary;
}

.van-dialog {
  .van-dialog__confirm,
  .van-dialog__confirm:active {
    color: $--color-primary;
  }
}
