// 全局颜色
$--color-primary: #dd1a21;
$--color-regular: #ffe5c1;
$--color-secondary: #dfc287;
$--color-green: #009b63;

// 文字颜色
$--color-text-primary: #333333;
$--color-text-minor: #666666;
$--color-text-regular: #969696;
$--color-text-secondary: #999999;
$--color-text-placeholder: #c0c4cc;

// 边框颜色
$--color-border-base: #d5d5d5;
$--color-border-light: #e4e7ed;
$--color-border-lighter: #f2f6fc;

// 背景颜色
$--color-background-white: #ffffff;
$--color-background-black: #000000;
$--color-background-base: #f9f9f9;

/* 导出变量 */
:export {
  colorPrimary: $--color-primary;
  colorRegular: $--color-regular;
  colorSecondary: $--color-secondary;
  colorGreen: $--color-green;
  colorTextPrimary: $--color-text-primary;
  colorTextMinor: $--color-text-minor;
  colorTextRegular: $--color-text-regular;
  colorTextSecondary: $--color-text-secondary;
  colorTextPlaceholder: $--color-text-placeholder;
  colorBorderBase: $--color-border-base;
  colorBorderLight: $--color-border-light;
  colorBorderLighter: $--color-border-lighter;
  colorBackgroundWhite: $--color-background-white;
  colorBackgroundBlack: $--color-background-black;
  colorBackgroundBase: $--color-background-base;
}

$--color-666: #666666;
$--color-999: #999999;
$--color-ddd: #dddddd;

/**
* 常用大小: 8的倍数
*/
$--size-8: 0.106667rem;
/* 8/75 */
$--size-16: 0.213333rem;
/* 16/75 */
$--size-24: 0.32rem;
/* 24/75 */
$--size-32: 0.426667rem;
/* 32/75 */
$--size-40: 0.533333rem;
/* 40/75 */
$--size-48: 0.64rem;
/* 48/75 */
$--size-56: 0.746667rem;
/* 56/75 */
$--size-64: 0.853333rem;
/* 64/75 */
$--size-72: 0.96rem;
/* 72/75 */
$--size-80: 1.066667rem;
/* 80/75 */
$--size-120: 1.6rem;
/* 120/75 */

/**
* 常用大小: 非8倍
*/
$--size-10: 0.133333rem /* 10/75 */;
$--size-20: 0.266667rem;
/* 20/75 */
$--size-28: 0.373333rem;
/* 28/75 */
$--size-30: 0.4rem /* 30/75 */;
$--size-36: 0.48rem;
/* 36/75 */
$--size-1: 0.013333rem;
/* 1/75 */

/**
* 尺寸
*/
$--size-10px: 10px;
